body {
font-family: 'Montserrat', Arial, Helvetica, sans-serif ;
}

.btnpete {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0px !important;
  color: #ffffff !important;
  font-size: 20px !important;
  background: #85b134 !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
}

.btnpete:hover {
  background: #85b134 !important;
  text-decoration: none !important;
}


.btnpeteout {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0px !important;
  color: #ffffff !important;
  font-size: 20px !important;
  background: #f1592a !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
}

.btnpeteout:hover {
  background: #f1592a !important;
  text-decoration: none !important;
}

.alert-info {
	background-color: #f1592a;
}